@charset "UTF-8";
/* Add your custom CSS declarations below  */

body{
    font-family: 'Inter', sans-serif;
    background-color:white;
    color:gray;
    font-weight:300;
    
}
    
    ul {
  list-style-type: none;
  margin: 0;
  padding-top: 15px;
padding-bottom: 10px;
  background-color:none;
}

li {
  float: right;
    padding-top: 20px;
    padding-right: 10px
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: lightpink;
}

.jumbotron{
    background-image: url('../images/heroimage.jpeg');
    height:auto;
    width:100;
    background-size:cover;
    background-position:center; 
    padding-bottom: 10px;
   
}

img{
    padding-bottom: 40px;
}



li a {
  display: block;
  color: gray;
  text-align: center;
  padding: 40px 40px;
  text-decoration: none;

}

}
li a:hover {
  background-color: lightpink;
    color:lightpink;
}

h1{
    padding-left: 50px;
    font-size:50px;
    text-transform: uppercase;
   
    
   
}

}
.intro{
    display: flex;

   

}

.typing{
    font-size:40px;
    margin-left 24px;
}

.typing::after{
    padding-top: 30px;
    content:"";
    position:absolute;
    right: -5px;
    width:1px;
    height:50%;
    border-right: 2px solid pink;
    animation: blink 0.5s infinite ease;
}

@keyframes blink {
    0%{
        opacity:0;
    }
    100%
    {
        opacity:0;
    }}


footer {
    position: fixed bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    color:lightpink;
    background: color: slategray;
    display: block;
    padding-bottom: 10px;
   }

a {
    color: lightpink;
    text-decoration: underline;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30;
}

.gal-item{
	overflow: hidden;
	padding: 8px;
}
.gal-item .box{
	height: 100%;
	overflow: hidden;
}
.box img{
	height: 100%;
	width: auto;
	object-fit:cover;
}
