@charset "UTF-8";
/* Add your custom CSS declarations below  */

body{
    font-family: 'Inter', sans-serif;
}
    
    
    ul {
  list-style-type: none;
  margin: 0;
  padding:0;
  overflow: hidden;
  background-color:none;
}

li {
  float: right;
    padding-top: 20px;
    padding-right: 10px
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: lightpink;
}

h1{
    padding-left: 50px;
    font-size:50px;
    text-transform: uppercase;
   
}


.bgimage {
  width:100%;
  height:500px;
  background: url('heroimage.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
.bgimage h5 {
  color:white;
  text-shadow:2px 2px #333;
}
.intro{
    display: flex;
    height: 300vh;

}


.typing{
    font-size:40px;
    margin-left 24px;
}

.typing::after{
    content:"";
    position:absolute;
    right: -5px;
    width:1px;
    height:50%;
    border-right: 2px solid pink;
    animation: blink 0.5s infinite ease;
}

@keyframes blink {
    0%{
        opacity:0;
    }
    100%
    {
        opacity:0;
    }}


footer {
    position: fixed bottom;
    text-align: center;
    background-color: aliceblue;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    display: block;
    align-items: left;